<!-- About our kitchen -->
<section class="description-kitchen-container section-about-our-kitchen">
  <div class="description-kitchen container">
    <h2 class="visually-hidden">About our kitchen</h2>
    <p class="tagline">Amet minim mollit non</p>
    <h3 class="appellation">MIMIHO</h3>
    <ul class="list description-kitchen-list">
      <li class="description-kitchen-item">
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/mobile-coocking.jpg    1x,
              ./img/mobile-coocking-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/tablet-coocking.jpg    1x,
              ./img/tablet-coocking-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop-coocking.jpg    1x,
              ./img/desktop-coocking-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="first-image"
            src="./img/mobile-coocking.jpg"
            alt="Cooking process"
          />
        </picture>
      </li>
      <li class="description-kitchen-item">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="./img/mobile-meat.jpg 1x, ./img/mobile-meat-2x.jpg 2x"
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="./img/tablet-meat.jpg 1x, ./img/tablet-meat-2x.jpg 2x"
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="./img/desktop-meat.jpg 1x, ./img/desktop-meat-2x.jpg 2x"
            type="image/jpeg"
          />
          <img src="./img/mobile-meat.jpg" alt="Meat" />
        </picture>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <div class="swiper-wrapper-slider">
      <picture>
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/mobile-preparation.jpg    1x,
            ./img/mobile-preparation-2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 1024px) and (max-width: 1279px)"
          srcset="
            ./img/tablet-preparation.jpg    1x,
            ./img/tablet-preparation-2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/desktop-preparation.jpg    1x,
            ./img/desktop-preparation-2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img src="./img/mobile-preparation.jpg" alt="Dough preparation" />
      </picture>
      <picture>
        <source
          media="(max-width: 1023px)"
          srcset="./img/mobile-khinkali.jpg 1x, ./img/mobile-khinkali-2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(min-width: 1024px) and (max-width: 1279px)"
          srcset="./img/tablet-khinkali.jpg 1x, ./img/tablet-khinkali-2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/desktop-khinkali.jpg    1x,
            ./img/desktop-khinkali-2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img src="./img/mobile-khinkali.jpg" alt="khinkali" />
      </picture>
    </div>
    <div class="item-slider-arrow">
      <button type="button" href="">
        <svg class="slider-icon-arrow" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
        </svg>
      </button>
      <button type="button" href="">
        <svg class="slider-icon-arrow" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
