<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css" />
    <title>парампарам</title>
  </head>
  <body>
    <section class="menu-assortment">
      <div class="container menu-container">
        <h2 class="emblem">МЕНЮ РЕСТОРАНУ</h2>
        <div class="menuparagraph">
          <div class="first-dish menu-assortment-item">
            <h3 class="subject">Гарячі страви</h3>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Борщ з телятини з квасолею</h4>
                <p class="ingredients">
                  Телятина, картопля, капуста, морква, цибуля, квасоля,
                  часник,помідори, зелень, сметана
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">400 г</li>
                <li class="price">240 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Суп сирний з куркою</h4>
                <p class="ingredients">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">400 г</li>
                <li class="price">200 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Паста карбонара</h4>
                <p class="ingredients">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">350 г</li>
                <li class="price">430 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Стейк зі свинини</h4>
                <p class="ingredients">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">400 г</li>
                <li class="price">500 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Горбуша в соусі з білого вина</h4>
                <p class="ingredients">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">400 г</li>
                <li class="price">400 грн</li>
              </ul>
            </div>
          </div>
          <div class="salads menu-assortment-item">
            <h3 class="subject">Салати</h3>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Цезар з куркою</h4>
                <p class="ingredients">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">230 г</li>
                <li class="price">450 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Цезар з креветками</h4>
                <p class="ingredients">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">230 г</li>
                <li class="price">300 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Грецький салат</h4>
                <p class="ingredients">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">230 г</li>
                <li class="price">280 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">М’ясний салат</h4>
                <p class="ingredients">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">230 г</li>
                <li class="price">300 грн</li>
              </ul>
            </div>
          </div>
          <div class="side-dishes menu-assortment-item">
            <h3 class="subject">Гарніри та закуски</h3>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Запечені овочі</h4>
                <p class="ingredients">Кабачок, перець, помідор, баклажан</p>
              </div>
              <ul class="weight-price">
                <li class="weight">400 г</li>
                <li class="price">230 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Картопля фрі</h4>
                <p class="ingredients">Картопля, соус томатний</p>
              </div>
              <ul class="weight-price">
                <li class="weight">150 г</li>
                <li class="price">160 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Картопля по-селянськи</h4>
                <p class="ingredients">Картопля, спеції, соус пікантний</p>
              </div>
              <ul class="weight-price">
                <li class="weight">150 г</li>
                <li class="price">160 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Хрумкі соління з бочки</h4>
                <p class="ingredients">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">250 г</li>
                <li class="price">350 грн</li>
              </ul>
            </div>
            <div class="first-text">
              <div class="dishname">
                <h4 class="desc">Крильця курячі в медовому соусі</h4>
                <p class="ingredients">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </p>
              </div>
              <ul class="weight-price">
                <li class="weight">400 г</li>
                <li class="price">420 грн</li>
              </ul>
            </div>
          </div>
          <div class="dessert-drink menu-assortment-item">
            <div class="dessert">
              <h3 class="subject">Десерти</h3>
              <div class="first-text">
                <h4 class="desc dishname">Торт наполеон</h4>
                <ul class="weight-price">
                  <li class="weight">230 г</li>
                  <li class="price">300 грн</li>
                </ul>
              </div>
              <div class="first-text">
                <h4 class="desc dishname">Торт маковий</h4>
                <ul class="weight-price">
                  <li class="weight">230 г</li>
                  <li class="price">300 грн</li>
                </ul>
              </div>
              <div class="first-text">
                <h4 class="desc dishname">Тірамісу</h4>
                <ul class="weight-price">
                  <li class="weight">120 г</li>
                  <li class="price">260 грн</li>
                </ul>
              </div>
            </div>
            <div class="drinks">
              <h2 class="subject">Напої</h2>
              <div class="first-text">
                <h4 class="desc dishname">Чай чорний/зелений</h4>
                <ul class="weight-price">
                  <li class="weight">500 мл</li>
                  <li class="price">100 грн</li>
                </ul>
              </div>
              <div class="first-text">
                <h4 class="desc dishname">Еспресо</h4>
                <ul class="weight-price">
                  <li class="weight">30 мл</li>
                  <li class="price">100 грн</li>
                </ul>
              </div>
              <div class="first-text">
                <h4 class="desc dishname">Американо</h4>
                <ul class="weight-price">
                  <li class="weight">150 мл</li>
                  <li class="price">100 грн</li>
                </ul>
              </div>
              <div class="first-text">
                <h4 class="desc dishname">Капучино</h4>
                <ul class="weight-price">
                  <li class="weight">200 мл</li>
                  <li class="price">160 грн</li>
                </ul>
              </div>
              <div class="first-text">
                <h4 class="desc dishname">Лате</h4>
                <ul class="weight-price">
                  <li class="weight">200 мл</li>
                  <li class="price">160 грн</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
          <div class="servis-btn-menu">
          <button type="button" class="book-table-menu">
            Забронювати столик
          </button>
        </div>
    </div>
    <div class="servis-btn">
    <button type="button" class="book-room btn" book-room-modal-open>Забронювати номер</button>
    </div>
</section>
      </div>
      </div>
    </section>
  </body>
</html>
