<section class="Menu">
<h1 class="emblem">МЕНЮ РЕСТОРАНУ</h1>
<div class="container">
    <div class="first">
    <h2 class="subject">Гарячі страви</h2>
    <div class="first-text">
        <p class="desc">
        Борщ з телятини з квасолею
        <small class="text-menu"
            >Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">400 г</span>
            <span class="price">240 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
            Суп сирний з куркою
        <small class="text-menu"
            >Курятина, картопля, морква, цибуля, печериці, сир м’який,
            зелень</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">400 г</span>
            <span class="price">200 грн</span>
        </p>
    </div>
    <div class="first-text">
        <p class="desc">
        Паста карбонара
        <small class="text-menu"
            >Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">350 г</span>
            <span class="price">430 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
        Стейк зі свинини
        <small class="text-menu"
            >Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
            овочами</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">400 г</span>
            <span class="price">500 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
        Горбуша в соусі з білого вина
        <small class="text-menu"
            >Ніжна горбуша, вершковий соус на основі білого вина</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">400 г</span>
            <span class="price">400 грн</span>
        </p>
    </div>
    </div>

    <div class="salads">
    <h2 class="desc">subject</h2>
    <div class="first-text">
        <p class="text">
        Цезар з куркою
        <small class="text-menu"
            >Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">230 г</span>
            <span class="price">450 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
        Цезар з креветками
        <small class="text-menu"
            >Тигрові креветки, листя салату, помідори чері, сир пармезан,
            грінки, соус цезар</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">230 г</span>
            <span class="price">300 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
            Грецький салат
            <small class="text-menu"
            >Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
            листя салату, соус</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">230 г</span>
            <span class="price">280 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
        М’ясний салат
        <small class="text-menu"
            >Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
            перець, соус ранч</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">230 г</span>
            <span class="price">300 грн</span>
        </p>
        </div>
    </div>

    <div class="side-dishes">
    <h2 class="subject">Гарніри та закуски</h2>
    <div class="first-text">
        <p class="desc">
            Запечені овочі
            <small class="text-menu">Кабачок, перець, помідор, баклажан</small>
        </p>
        <p class="weight-price">
            <span class="weight">200 г</span>
            <span class="price">230 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
            Картопля фрі
            <small class="text-menu">Картопля, соус томатний</small>
        </p>
        <p class="weight-price">
            <span class="weight">150 г</span>
            <span class="price">160 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
            Картопля по-селянськи
            <small class="text-menu">Картопля, спеції, соус пікантний</small>
        </p>
        <p class="weight-price">
            <span class="weight">150 г</span>
            <span class="price">160 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
        Хрумкі соління з бочки
        <small class="text-menu"
            >Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">250 г</span>
            <span class="price">350 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">
        Крильця курячі в медовому соусі
        <small class="text-menu"
            >Крильця курячі, гірчично-медовий соус, подається з морквою, селерою
            і соусом блючиз</small
        >
        </p>
        <p class="weight-price">
            <span class="weight">400 г</span>
            <span class="price">420 грн</span>
        </p>
        </div>
    </div>

    <div class="dessert">
    <h2 class="subject">Десерти</h2>
    <div class="first-text">
        <p class="desc">Торт наполеон</p>
        <p class="weight-price">
            <span class="weight">230 г</span>
            <span class="price">300 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">Торт маковий</p>
        <p class="weight-price">
            <span class="weight">230 г</span>
            <span class="price">300 грн</span>
        </p>
    </div>

        <div class="first-text">
            <p class="desc">Тірамісу</p>
            
        <p class="weight-price">
            <span class="weight">120 г</span>
            <span class="price">260 грн</span>
        </p>
        </div>
    </div>

    <div class="drinks">
    <h2 class="subject">Напої</h2>
    <div class="first-text">
        <p class="desc">Чай чорний/зелений</p>
        <p class="weight-price">
            <span class="weight">500 мл</span>
            <span class="price">100 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">Еспресо</p>
        <p class="weight-price">
            <span class="weight">30 мл </span>
            <span class="price">100 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">Американо</p>
        <p class="weight-price">
            <span class="weight">150 мл</span>
            <span class="price">100 грн</span>
        </p>
    </div>

    <div class="first-text">
        <p class="desc">Капучино</p>
        <p class="weight-price">
            <span class="weight">200 мл</span>
            <span class="price">160 грн</span>
        </p>
    </div>

    <div class="first-text">
                <p class="desc">Лате</p>
                <p class="weight-price">
                    <span class="weight">200 мл</span>
                    <span class="price">160 грн</span>
                </p>
                </p>
            </div>
        </div>
    </div>
    <div class="servis-btn">
    <button type="button" class="book-room btn" book-room-modal-open>Забронювати номер</button>
    </div>
</section>

