<section class="amenities">
        <div class="container">
            <h2 class="amenities-titel">ЗРУЧНОСТІ У НОМЕРІ</h2>
            <p class="amenities-after-titel">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
            <ul class="amenities-list list">
              <li class="amenities-item">
                <h3 class="amenities-item-titel">ЗАГАЛЬНІ</h3>
                <div class="amenities-text">
                  <p class="amenities-item-after-titel">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                  </p>
                  <p class="amenities-item-after-titel">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                  </p>
                </div>
              </li>
              <li class="amenities-item">
                <h3 class="amenities-item-titel">ВАННА КІМНАТА</h3>
                <div class="amenities-text">
                  <p class="amenities-item-after-titel">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                  </p>
                  <p class="amenities-item-after-titel">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                  </p>
                </div>
              </li>
              <li class="amenities-item">
                <h3 class="amenities-item-titel">СПАЛЬНЯ</h3>
                <p class="amenities-item-after-titel">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint.
                </p>
              </li>
              <li class="amenities-item">
                <h3 class="amenities-item-titel">КУХНЯ</h3>
                <div class="amenities-text">
                  <p class="amenities-item-after-titel">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint.
                  </p>
                  <p class="amenities-item-after-titel">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint.
                  </p>
                </div>
              </li>
              <li class="amenities-item">
                <h3 class="amenities-item-titel">МЕДІА</h3>
                <p class="amenities-item-after-titel">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint. Velit officia consequat duis enim velit mollit.
                </p>
              </li>
            </ul>
            <button type="button" class="reserve-btn" >ОФОРМИТИ БРОНЮВАННЯ</button>
            <a class="return-numbers" href="./hotel.html">
              Повернутися до перегляду номерів
              <svg class="return-numbers-icon" width="24" height="24">
                <use href="./img/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </a>
        </div >
      </section>