<!--------------------------------- Hero ----------------->
<section class="room-hero">
  <div class="container">
    <div class="room-hero-slaid">
      <a href="#" class="room-hero-slaid-btn"
        ><svg class="room-hero-slaid-icon" width="40" height="40">
          <use href="./img/symbol-defs.svg#icon-arrow2"></use>
        </svg>
      </a>
      <a href="#" class="room-hero-slaid-btn"
        ><svg class="room-hero-slaid-icon" width="40" height="40">
          <use href="./img/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <h1 class="room-hero-titel">ДВОМІСНИЙ НОМЕР люкс</h1>
    <div class="room-hero-text-btn">
      <p class="room-hero-after-titel">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="room-hero-soc">
        <div class="room-hero-soc-address">
          <div class="room-hero-address">
            <svg class="icon-address" width="20" height="20">
              <use
                href="./img/symbol-defs.svg#icon-entypo_location-pin-1"
              ></use>
            </svg>
            <a class="text-address" href="#"
              >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
            >
          </div>
          <ul class="room-hero-icons">
            <li>
              <a class="room-hero-soc-icon" href="#">
                <svg width="24" height="24">
                  <use
                    href="./img/symbol-defs.svg#icon-akar-icons_instagram-fill-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="room-hero-soc-icon" href="#">
                <svg width="24" height="24">
                  <use
                    href="./img/symbol-defs.svg#icon-jam_facebook-square-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="room-hero-soc-icon" href="#">
                <svg width="24" height="24">
                  <use
                    href="./img/symbol-defs.svg#icon-la_telegram-plane-1"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="room-hero-btn">
          <button type="button" class="open-prices">Переглянути ціни</button>
        </div>
      </div>
    </div>
  </div>
</section>
