<!--------------------------------- Hero ----------------->
<section class="room-hero">
        <div class="container">
            <h1 class="room-hero-titel">ДВОМІСНИЙ НОМЕР люкс</h1>
            <div class="room-hero-text-btn">
              <p class="room-hero-after-titel">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
              </p>
              <button type="button" class="open-prices">Переглянути ціни</button>
            </div>
        </div >
      </section>