<!------------- Room Price Modal window ------------------------>

<div class="blackdrop is-hidden" room-price-modal>
  <div class="modal modal-price">
    <button type="button" class="modal-close-btn" room-price-modal-close>
      <svg class="icon-close" width="24" height="24">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>

    <p class="modal-title">ЦІНИ НА НОМЕР</p>

    <div class="modal-title-price-wrap">
      <p class="modal-caption">Двомісний люкс</p>
      <p class="modal-text modal-subtitle">Категорія номеру</p>
    </div>

    <form class="modal-form">
      <div class="select-wrapper modal-fild-wrap">
        <select class="modal-input modal-select " name="date-check-in" id="book-night">
          <option class="modal-input" value="1">1</option>
          <option class="modal-input" value="2">2</option>
          <option class="modal-input" value="3">3</option>
        </select>
        <label for="book-night" class="user-name-text modal-text"
          >Кількість ночей</label
        >
      </div>

      <div class="modal-fild-wrap">
        <input
          id="price-night"
          class="modal-input"
          type="text"
          name="price"
          placeholder="1000"
        />
        <label for="price-night" class="user-name-text modal-text">грн</label>
      </div>

      <button type="submit" class="modal-book-btn">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
