<!-- =============== room-luxe-for-2-adult_Andriy-Sachyk==================-->

<section class="room-luxe-for-2-adult">
    <div class="container">
        <p class="room-luxe-for-2-adult-tagline tagline-hotel">Amet minim mollit non</p>
        <h3 class="room-luxe-for-2-adult-appellation appellation-hotel ">MIMIHO</h3>
        <h2 class="room-luxe-for-2-adult-title title-hotel">ДВОМІСНИЙ НОМЕР люкс</h2>
        <h3 class="room-luxe-for-2-adult-content content-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</h3>
        <picture>
            <source
                srcset="../../img/desktop-modern-studio-apartment-design-with-bedroom-living-space.jpg 1x, ../../img/desktop-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x"
                media="(min-width:1280px)"
            >
            <source
                srcset="../../img/tablet-modern-studio-apartment-design-with-bedroom-living-space.jpg 1x, ../../img/tablet-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x"
                media="(min-width:1024px)"
            >
            <source
                srcset="../../img/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg 1x, ../../img/mobile-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x"
                media="(max-width:1023px)"
            >

            <img class="room-luxe-for-2-adult-photo-primery"
                src="../../img/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg"
                alt="photo apartament">
        </picture>
        <div class="room-luxe-for-2-adult-box-photo-btn-link">
            <div class="room-luxe-for-2-adult-box-photo-btn">
                <div class="room-luxe-for-2-adult-box-photo-minor">
                    <picture>
                        <source
                            srcset="../../img/desktop-arrangement-pf-bathroom-elements-self-care.jpg 1x, ../../img/desktop-arrangement-pf-bathroom-elements-self-care@2x.jpg 2x"
                            media="(min-width:1280px)"
                        >
                        <source
                            srcset="../../img/tablet-arrangement-pf-bathroom-elements-self-care.jpg 1x, ../../img/tablet-arrangement-pf-bathroom-elements-self-care@2x.jpg 2x"
                            media="(min-width:1024px)"
                        >
                        <source
                            srcset="../../img/mobile-arrangement-pf-bathroom-elements-self-care.jpg 1x, ../../img/mobile-arrangement-pf-bathroom-elements-self-care@2x.jpg 2x"
                            media="(max-width:1023px)"
                        >

                        <img class="room-luxe-for-2-adult-photo-minor"
                            src="../../img/mobile-arrangement-pf-bathroom-elements-self-care.jpg" alt="photo bathroom">
                    </picture>

                    <picture>
                        <source
                            srcset="../../img/desktop-cup-tea-stands-wooden-windowsill.jpg 1x, ../../img/desktop-cup-tea-stands-wooden-windowsill@2x.jpg 2x"
                            media="(min-width:1280px)"
                        >
                        <source
                            srcset="../../img/tablet-cup-tea-stands-wooden-windowsill.jpg 1x, ../../img/tablet-cup-tea-stands-wooden-windowsill@2x.jpg 2x"
                            media="(min-width:1024px)"
                        >
                        <source
                            srcset="../../img/mobile-cup-tea-stands-wooden-windowsill.jpg 1x, ../../img/mobile-cup-tea-stands-wooden-windowsill@2x.jpg 2x"
                            media="(max-width:1023px)"
                        >

                        <img class="room-luxe-for-2-adult-photo-minor"
                            src="../../img/mobile-cup-tea-stands-wooden-windowsill.jpg" alt="photo cup tea">
                    </picture>
                </div>
                <div class="box-btn-hotel">
                    <button class="btn-arrow-hotel" type="button">
                        <svg class="icon-arrow">
                            <use href="../../img/symbol-defs.svg#icon-cil_arrow-left"></use>
                        </svg>
                    </button>
                    <button class="btn-arrow-hotel" type="button">
                        <svg class="icon-arrow">
                            <use href="../../img/symbol-defs.svg#icon-cil_arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <ul class="list-link-hotel">
                <li><a class="link-hotel" href="#">Переглянути ціни</a></li>
                <li><a class="link-hotel" href="../../room.html">Детальніше</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- ===============/room-luxe-for-2-adult_Andriy-Sachyk==================-->