<header class="header">
      <div class="container">
        <div class="header-container">
          <a class="logo" href="./index.html">MIMIHO</a>



          <nav class="header-navigation">
            <ul class="list-navigation">

              <li class="navigation-list">
                <div class="link-contact">
                <a class="link-header" href="./restaurant.html">Ресторан</a>
                 <a class="tel-contact" href="tel:0955559533"><svg class="svg-tel" width="24" height="24">
                  <use
                    href="./img/symbol-defs.svg#icon-fluent_phone-24-regular-1"
                  ></use>
                </svg><span class="span-tel"> 0955559533</span></a>
                </div>
              </li>


              <li class="navigation-list">
                <div class="link-contact">
                <a class="link-header" href="./hotel.html">Готель</a>
                 <a class="tel-contact" href="tel:0668491089"><svg class="svg-tel" width="24" height="24">
                  <use
                    href="./img/symbol-defs.svg#icon-fluent_phone-24-regular-1"
                  ></use>
                </svg><span class="span-tel"> 0668491089</span></a>
                </div>
              </li>
              
            </ul>
          </nav>
          <ul class="header-icons">
            <li>
              <a href="#" class="header-social-link">
                <svg width="24" height="24">
                  <use
                    href="./img/symbol-defs.svg#icon-akar-icons_instagram-fill-1">
                  </use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="header-social-link">
                <svg width="24" height="24">
                  <use 
                    href="./img/symbol-defs.svg#icon-jam_facebook-square-1">
                  </use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="header-social-link">
                <svg width="24" height="24">
                  <use 
                    href="./img/symbol-defs.svg#icon-la_telegram-plane-1">
                  </use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="address">
          
          <a class="text-address" href="./index.html#address-map"
            > <svg class="icon-address" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-entypo_location-pin-1"></use>
          </svg>
          <span class="span-adress-header">
            <span class="span-adr-two">Україна, м. Полтава, вул.</span>
          <span>Маршала Бірюзова, 15</span> </span></a
          >
        </div>
      </div>
    </header>
