.hero {

   
    top: 0;
    left: 0;
    background-image:linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),  url(../img/pexels-pixabay-2609222.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
    height: 740px;
    z-index: 2;
    padding-top: 181px;
}
 @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),
      url(../img/pexels-pixabay-2609222@2x.jpg);
    background-size: cover;
    
  }
}

.hero-title-one {
    margin-bottom: 24px;
    text-align: center;
    
font-family: 'FilmP3Bold';
text-transform: uppercase;
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 103px;
letter-spacing: 0.3em;
color: var(--invert-color);

}
.hero-title-two {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
font-size: 16px;
line-height: 20px;
color: var(--invert-color);


letter-spacing: 0.02em;
}
.hero-title-three {
    margin-bottom: 113px;
     text-align: center;
     font-weight: 700;
font-size: 32px;
line-height: 37px;
color: var(--invert-color);


letter-spacing: 0.05em;
}
.hero-btn {
    display: inline-block;
    justify-content: center;
   
}
.hero-button {
    padding: 12px 24px;
    background: rgba(0, 0, 0, 0.4);
    color: var(--accent-yellow-color);


border: 2px solid #FFFFFF;
border-radius: 25px;
}
.hero-button:hover {
    background: #FFFFFF;
    border: 2px solid #F3C653;
    transition: var(--transition);
    cursor: pointer;
}
.li-btn:nth-child(1) {
    margin-bottom: 24px;
}
.li-btn:last-child {
    margin-bottom: 0;
}
.hero-btn-content {
    display: flex;
    justify-content: center;
}
.hero-icons {
    display: flex;
    gap: 23px;
    margin-top: 61px;
}
.hero-address {
    display: flex;
    padding-top: 8px;
    padding-left:3px ;
    padding-right: 3px;
    padding-bottom: 9px;
    position: absolute;
    top: 600px;
    width: 285px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
}
@media screen and (min-width: 414px) {
  .hero {
    max-width: 414px;
  }
  
}
@media screen and (max-width: 1024px) {
    .hero-address {
        display: none;
    }
    
}

@media screen and (min-width: 1024px) {
    .hero {
        background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/tablet1.jpg);
        max-width: 1024px;
    }
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), 
      url(../img/tablet2@.jpg);
    background-size: cover;
    
  }
}
    
    .hero-btn {
            display: flex;
            gap: 40px;
            margin-left: auto;
        } 
        .li-btn {
            margin: 0;
        }
        .hero-title-one {
    margin-bottom: 16px;
    text-align: center;
    font-family: 'FilmP3Bold';
text-transform: uppercase;
font-style: normal;
font-weight: 700;
font-size: 128px;
line-height: 138px;


letter-spacing: 0.3em;
}
.hero-title-two {
    margin-bottom: 56px;
    text-align: center;
}
        .hero-title-three {
    margin-bottom: 145px;
     text-align: center;
}
.hero { 
    padding-top: 188px;

}
.text-address {
    font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.01em;
width: 233px;
height: 40px;
}
.icon-address {
    width: 24px;
    height: 24px;
}
.hero-title-one {
    font-weight: 700;
font-size: 128px;
line-height: 138px;


letter-spacing: 0.3em;
}
.hero-title-two
{
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
}

.hero-title-three {
    font-weight: 700;
font-size: 36px;
line-height: 41px;
letter-spacing: 0.05em;
}

    }
    @media screen and (min-width: 1280px) {
        .hero-icons {
            display: none;
        }
        .hero {
            background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/desktop1.jpg);
            max-width: 1440px;
        }
        @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),
      url(../img/desktop2@.jpg);
    background-size: cover;
    
  }
}

        
    }



    /* ====================================hotel=============================== */
    /* ====================================hotel=============================== */
    /* ====================================hotel=============================== */
    /* ====================================hotel=============================== */
.hero-hotel {

   
    top: 0;
    left: 0;
    background-image:linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),  url(../img/room-4768554_192021.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
    height: 740px;
    z-index: 2;
    padding-top: 181px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),
      url(../img/room-4768554_19202@2x.jpg);
    background-size: cover;
    
  }}
  @media screen and (min-width: 414px) {
    .hero-hotel {
      max-width: 414px;
    }
    
  }
  @media screen and (min-width: 1024px) {
    .hero-hotel {
        background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/room1.jpg);
        max-width: 1024px;
    }
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), 
      url(../img/room2@.jpg);
    background-size: cover;
    
  }
}}
.hero-hotel { 
    padding-top: 188px;

}
@media screen and (min-width: 1280px) {
        .hero-icons {
            display: none;
        }
        .hero-hotel {
            background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/room3.jpg);
            max-width: 1440px;
        }
        @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),
      url(../img/room3@.jpg);
    background-size: cover;
    
  }
}

        
    }
    /* ========================rest=================================================== */
     /* ========================rest=================================================== */
      /* ========================rest=================================================== */
       /* ========================rest=================================================== */
       
.hero-restaurant {

   
    top: 0;
    left: 0;
    background-image:linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),  url(../img/rest1.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
    height: 740px;
    z-index: 2;
    padding-top: 181px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-restaurant {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),
      url(../img/rest2@.jpg);
    background-size: cover;
    
  }}
  @media screen and (min-width: 414px) {
    .hero-restaurant {
      max-width: 414px;
    }
    
  }
  @media screen and (min-width: 1024px) {
    .hero-restaurant {
        background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/rest2.jpg);
        max-width: 1024px;
    }
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-restaurant {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), 
      url(../img/rest22@.jpg);
    background-size: cover;
    
  }
}}
.hero-restaurant { 
    padding-top: 188px;

}
@media screen and (min-width: 1280px) {
        .hero-icons {
            display: none;
        }
        .hero-restaurant {
            background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/rest3.jpg);
            max-width: 1440px;
        }
        @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-restaurant {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),
      url(../img/rest3@.jpg);
    background-size: cover;
    
  }
}

        
    }











    /* ========================================================================== */
    @media screen and (max-width:1024px) {
        .li-btn:nth-child(3) {
            display: none;
        }
        
    }
    @media screen and (min-width:1024px) {
        .li-btn:nth-child(2) {
            display: none;
        }
        .li-btn:nth-child(1) {
            margin: 0;
        }
        
    }
   /* ============================================================ */
   /* ============================================================ */
   /* ============================================================ */
  
   .hotel {
    margin-bottom: 178px;
   }

   @media screen and (min-width: 1024px) {
    .hotel {
        margin-bottom: 226px;
    }
}
  @media screen and (min-width: 1280px) {
    .hotel {
        margin-bottom: 249px;
    }
}