/* -------------------  Rooms Styles--------------- */

.tagline-hotel {
    color: var(--helper-text-color);
    width: 200px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 8px;
}

.appellation-hotel {
    width: 127px;
    font-family: "FilmP3Bold", serif;
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: var(--appellation-color);
    margin-bottom: 32px;
}

.title-hotel {
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.05em;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.content-hotel {
    width: 258px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    margin-bottom: 32px;

}



.btn-arrow-hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: var(--bg-lemon-color);
    border: none;
    padding: 0;
}

.box-btn-hotel {
    display: flex;
    gap: 32px;
    margin-bottom: 20px;
}

.icon-arrow {
    width: 32px;
    height: 32px;
    fill: #000000;
}

.btn-arrow-hotel:hover .icon-arrow, .btn-arrow-hotel:focus .icon-arrow {
    fill: var(--accent-yellow-color);
}


.list-link-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.link-hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #000000;
    color: var(--accent-yellow-color);
    border: 2px solid #FFFDEE;
    border-radius: 25px;

}


.link-hotel:hover, .link-hotel:focus {
    color: #F3C653;
    background: #FFFFFF;
    border: 2px solid #F3C653;
    
}
/* =================room-luxe-for-2-adult_Andriy-Sachyk================= */
.room-luxe-for-2-adult {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--bg-lemon-color);
}



.room-luxe-for-2-adult-photo-primery {
    margin-bottom: 32px;
    margin-left: auto;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.room-luxe-for-2-adult-box-photo-minor {
    position: relative;
    transform: translateX(-121px);
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.room-luxe-for-2-adult-photo-minor {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


/* ==========/room-luxe-for-2-adult_Andriy-Sachyk============= */

/* ===============room-3-adult_Andriy-Sachyk================== */
.room-for-3-adult{
    overflow: hidden;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--bg-dark-lemon-color);
}

.room-for-3-adult-box-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.room-for-3-adult-photo-primery{
    margin-bottom: 32px;
    margin-right: auto;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


.room-for-3-adult-box-photo-minor {
    position: relative;
    transform: translateX(+121px);
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}


.room-for-3-adult-photo-minor{
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


.room-for-3-adult-box-btn{
    justify-content: flex-end;
}
        
.box-btn-hotel > .room-for-3-adult-btn-arrow {
    background-color: var(--bg-dark-lemon-color);
}

/* ===============/room-3-adult_Andriy-Sachyk================== */



/* Mobile Container */
@media screen and (min-width: 414px) {
    .container {
        width: 414px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Tablet Container */
@media screen and (min-width: 1024px) {
    .container {
        position: relative;
        width: 1024px;
        padding-left: 47px;
        padding-right: 47px;
    }

    .tagline-hotel {
        width: 310px;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 4px;
    }

    .appellation-hotel {
        width: 202px;
        font-size: 64px;
        line-height: 1.07;
        margin-bottom: 62px;
    }

    .title-hotel {
        font-size: 30px;
        line-height: 1.13;
        margin-bottom: 16px;
    }
  
    .content-hotel {
        width: 439px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 176px;
    }
/* =================room-luxe-for-2-adult_Andriy-Sachyk================= */
    .room-luxe-for-2-adult{
        padding-top: 62px;
        padding-bottom: 40px;
    }

    .room-luxe-for-2-adult-photo-primery {
        position: absolute;
        right: 65px;
        top: -94px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
        z-index: 10;
    }

    .room-luxe-for-2-adult-box-photo-minor {
        transform: translateX(0);
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
    }

    .room-luxe-for-2-adult-photo-minor {
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }



    .room-luxe-for-2-adult-box-photo-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
   .room-luxe-for-2-adult-box-photo-btn-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 
/* ==========/room-luxe-for-2-adult_Andriy-Sachyk============= */

/* ===============room-3-adult_Andriy-Sachyk================== */

    .room-for-3-adult{
        overflow: visible;
        padding-top: 66px;
        padding-bottom: 40px;
    }

    .room-for-3-adult-photo-primery {
        position: absolute;
        left: 65px;
        top: -106px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
        z-index: 10;
    }


    .room-for-3-adult-box-photo-minor {
        transform: translateX(0);
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
    }

    .room-for-3-adult-photo-minor{
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }


    .room-for-3-adult-box-photo-btn-link {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .room-for-3-adult-box-photo-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


/* ===============/room-3-adult_Andriy-Sachyk================== */

}

/* Desktop Container */
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 85px;
        padding-right: 85px;
    }



    .room-luxe-for-2-adult {
        padding-top: 72px;
    }


    .tagline-hotel {
        font-size: 32px;
        line-height: calc(37/32);
    }


    .appellation-hotel {
        margin-bottom: 72px;
    }

    .title-hotel {
        width: 510px;
        font-size: 36px;
        line-height: calc(41/36);
        margin-bottom: 24px;
    }


    .content-hotel {
        width: 400px;
        margin-bottom: 188px;
    }

/* ==========room-luxe-for-2-adult_Andriy-Sachyk============= */


    .room-luxe-for-2-adult-box-photo-minor {
        margin-bottom: 40px;
    
    }

/* ==========/room-luxe-for-2-adult_Andriy-Sachyk============= */

/* ===============room-3-adult_Andriy-Sachyk================== */
   .room-for-3-adult {
       padding-top: 72px;
   }

    .room-for-3-adult-photo-primery {
        top: -110px;
    }

    .room-for-3-adult-box-photo-minor {
        margin-bottom: 40px;

    }

/* ===============/room-3-adult_Andriy-Sachyk================== */

}