.about-rest-section {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: rgba(186, 186, 186, 1);
}

.title-details-restaurant {
  font-family: ‘FilmP3bold’;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--invert-color);
}

.heading-details-restaurant {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--invert-color);
}

.about-rest-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 414px;
  height: 735px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 40px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('../img/about-rest/mobile-bgi-rest.jpg');
  background-color: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-restaurant {
  margin-left: 126px;
  color: var(--invert-color);
}

.about-restaurant h4 {
  margin-top: 12px;
  margin-bottom: 20px;
}

.slide-bar {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  margin-bottom: 16px;
}

.slide-img:not(:nth-child(n + 3)) {
  margin-right: 20px;
}

.slide-arrow {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-width: 98px;
  max-height: 32px;
  margin-bottom: 32px;
}

.slider-icon {
  fill: var(--invert-color);
}

.box-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  max-width: 100%;
}

.box-button .btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  padding: 14px 20px;
  background-color: transparent;
  border: 2px solid var(--invert-color);
  border-radius: 25px;
  color: #f3c653;

  display: inline-block;
  max-width: 236px;
}

.btn:hover,
.btn:focus {
  border: 2px solid #f3c653;
  background: var(--invert-color);
}

@media screen and (max-width: 320px) {
  .about-rest-section .container {
    overflow-x: scroll;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1023.9px) {
  .tablet {
    margin: 0;
  }

  .slide-bar-arrow {
    align-items: flex-start;
    overflow: hidden;
    margin-left: 150px;
  }

  .slide-bar {
    margin-right: 20px;
    overflow: hidden;
  }

  .slide-img {
    width: 270px;
    height: 270px;
  }
  .slide-img:nth-child(n+2) {
    width: 162px;
    height: 270px;
  }

  .slide-img:nth-child(n+3) {
    display: none;
  }
}

@media screen and (max-width: 1279.9px) {
  .slide-img ~ .cube {
    display: none;
  }
}

/*_________________ TABLET ____________________*/

@media screen and (min-width: 1024px) {
  .about-rest-section .container {
    max-width: 1024px;
    max-height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../img/about-rest/tablet-bgi-rest.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .about-rest-section .container {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/about-rest/tablet-bgi-rest@2x.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .about-rest-section .container {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/about-rest/tablet-bgi-rest@3x.jpg');
    }
  }

  .about-rest-section .container {
    padding-top: 48px;
  }

  .about-restaurant {
    margin-left: 231px;
  }

  .about-restaurant h4 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .tablet {
    position: relative;
    width: 100%;
    height: 270px;
    padding: 0;
    margin-top: 40px;
  }

  .slide-bar-arrow {
    position: absolute;
    top: 0;
    right: 0;
  }

  .slide-bar {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 29px;
  }

  .slide-arrow {
    margin-top: 24px;
    margin-left: 29px;
    margin-bottom: 0;
  }

  .slide-img:not(:nth-child(n + 3)) {
    margin-right: 34px;
  }

  .box-button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 236px;
    margin-bottom: 0;
  }

  .box-button .btn {
    width: 236px;
  }
}

/*_____________________ DESKTOP __________________*/

@media screen and (min-width: 1280px) {
  .about-rest-section .container {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../img/about-rest/desktop-bgi-rest.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .about-rest-section .container {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/about-rest/desktop-bgi-rest@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .about-rest-section .container {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../img/about-rest/desktop-bgi-rest@3x.jpg');
    }
  }

  .about-restaurant {
    margin-left: 253px;
  }
  .slide-bar {
    margin-left: 32px;
  }

  .slide-img:not(:nth-child(n + 3)) {
    margin-right: 70px;
  }

  .slide-img ~ .slim {
    display: none;
  }
}

/*------------main-page-details-hotel---------- */
/* -----------     start    ------------------- */
/* -----------    mobile    --------------------*/
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-page-details-hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/rest-mob-bg-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-page-details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/rest-mob-bg-2x.jpg);
  }
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-details-hotel-header-0 {
  width: 246px;
  padding-top: 24px;
  margin-bottom: 48px;
  margin-left: 17px;
}

.main-page-details-hotel-header {
  font-family: 'FilmP3bold';
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--invert-color);
  margin-bottom: 12px;
  margin-left: auto;
  width: 127px;
  text-align: end;
}

.main-page-details-hotel-header2 {
  width: 73px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--invert-color);
  margin-bottom: 20px;
  margin-left: auto;
}

.main-page-details-hotel-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--helper-text-color);
  margin-bottom: 48px;
}

.main-page-details-hotel-galery {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.main-page-details-hotel-galery-item:nth-child(1) {
  margin-left: -15px;
}

.main-page-details-hotel-galery-item-slider {
  margin-bottom: 32px;
  width: 96px;
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 11px;
}

.slider-icon-hotel-det {
  fill: var(--invert-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-icon-hotel-det:hover,
.slider-icon-hotel-det:focus {
  fill: var(--accent-yellow-color);
}

.main-page-details-hotel-header-button {
  display: flex;
  flex-direction: column;
  max-width: 236px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobile-svg,
.tab-galery,
.desk-galery,
.main-page-details-hotel-text-desk {
  display: none;
}

.btn-hotel-det {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding: 12px 22px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--bg-dark-lemon-color);
  border-radius: 25px;
  color: var(--accent-yellow-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.room-price.btn-hotel-det {
  padding: 12px 34px;
  margin-bottom: 40px;
}

.btn-hotel-det:hover,
.btn-hotel-det:focus {
  border: 2px solid var(--accent-yellow-color);
  background: var(--invert-color);
}
/*---------    ---main-page-details-hotel-----        ----- */
/* ------------------Tablet Container -----------------------*/

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

  .main-page-details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/rest-tab-bg-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-details-hotel {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/rest-tab-bg-2x.jpg);
    }
  }

  .main-page-details-hotel-header-0 {
    padding-top: 48px;
    width: 650px;
    margin-bottom: 40px;
    margin-left: 45px;
  }

  .main-page-details-hotel-header {
    font-size: 64px;
    line-height: 69px;
    width: 202px;
  }

  .main-page-details-hotel-text {
    font-size: 16px;
    line-height: 20px;
  }

  .bottom-text {
    padding-right: 74px;
  }

  .main-page-details-hotel-header2 {
    width: 90px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
  }

  .main-page-details-hotel-text {
    margin-bottom: 0;
  }

  .main-page-details-hotel-text {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .tablet-svg,
  .mobil-galery,
  .desk-galery {
    display: none;
  }
  .tab-galery {
    display: block;
  }

  .mobile-svg {
    display: block;
  }

  .tablet-galery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .main-page-details-hotel-galery-item-slider {
    padding-bottom: 40px;
    margin-left: 567px;
    margin-bottom: 0;
  }

  .main-page-details-hotel-galery {
    margin-bottom: 0;
    gap: 34px;
  }
  .main-page-details-hotel-galery-item:nth-child(1) {
    margin-left: 0;
  }

  .room-price.btn {
    margin-bottom: 0;
  }

  .button-flex {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
  }
}
/*--------     ----main-page-details-hotel----   ------ */
/* ------------------------Desctop-------------------- */

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }

  .main-page-details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/rest-desk-bg-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-details-hotel {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/rest-desk-bg-2x.jpg);
    }
  }

  .main-page-details-hotel-header {
    margin-bottom: 16px;
  }

  .main-page-details-hotel-text-desk {
    display: flex;
    flex-direction: column;
  }

  .main-page-details-hotel-header-0 {
    margin-left: 190px;
  }

  .top-text {
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #bababa;
  }

  .bottom-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #bababa;
  }

  .bottom-text {
    text-align: right;
    padding-right: 121px;
  }

  .main-page-details-hotel-galery-item-slider {
    margin-left: 743px;
  }

  .main-page-details-hotel-galery {
    gap: 86px;
    margin-left: -33px;
  }

  .desk-galery {
    display: block;
  }

  .tab-galery,
  .main-page-details-hotel-text {
    display: none;
  }
}
/*------------main-page-details-hotel---------- */
/*-----------         -end-           --------- */
