 feature/main-about-restaurant
/*:root {
  --title-text-color: #000000;
  --body-text-color: #7A7A7A;
  --helper-text-color: #B4B4B4;
  --invert-color: #FFFFFF;
  --accent-yellow-color: #F3C653;
  --orange-color: #C79002;
  --bg-lemon-color: #FFFDEE;
  --bg-dark-lemon-color: #F0ECD6;
  --footer-color: #0E0C07;

  --outline-style: solid;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.02em;

  color: var(--body-text-color);
  background-color: var(--bg-lemon-color);
}
*/


.about-rest-section {
  background-image:
    url("../img/about-rest/mobile-bg.png"),
    url("../img/about-rest/mobile-bgi-rest.jpg");
  background-color: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-rest-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 414px;
  max-height: 735px;
  margin-left: auto;
  margin-right: auto;
}

.about-restaurant {
  padding-top: 24px;
  padding-left: 140px;
  color: var(--invert-color);
}

.about-restaurant h4 {
  margin-top: 12px;
  margin-bottom: 20px;
}

.slide-bar {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  margin-top: 48px;
  margin-bottom: 80px;
}

.slide-img {
  width: 100%;
  height: 100%;
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  max-width: 232px;
}

.button {
  display: inline-block;
  max-width: 232px;
  height: 48px;
  color: var(--aссent-yellow-color);
  background-color: transparent;
  border: 2px solid var(--invert-color);
  border-color: var(--invert-color);
  border-radius: 25px;
}

@media screen and (max-width: 1280px) {
  .slide-img~.cube {
    display: none;
  }
}

/*_________________ TABLET ____________________*/

@media screen and (min-width: 1024px) {
  .about-rest-section {
    width: 100%;
    background-image:
    /*url("../image/hero/desktop-bg.png"),*/ url("../img/about-rest/tablet-bgi-rest.jpg");
  }
}
    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .main-section {
        background-image: url("../image/hero/desktop-bg.png"), url("../img/about-rest/tablet-bgi-rest@2x.jpg");
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      .main-section {
        background-image: url("../image/hero/desktop-bg.png"), url("../img/about-rest/tablet-bgi-rest@3x.jpg");
      }
    }

  .about-rest-section .container {
    max-width: 1024px;
    max-height: 620px;
  }
  .about-restaurant {
    padding-top: 48px;
    padding-left: 278px;
  }

  .about-restaurant h4 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .tablet {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    width: 100%;
    height: 270px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 96px;
  }

  .slide-bar {
    margin-top: 0;
    margin-bottom: 0;
  }

  .slide-img:not(:last-child) {
    margin-right: 34px;
  }

  .button-box {
    width: 236px;
  }

  .button {
    display: inline-block;
    width: 236px;
    height: 48px;
  }
}

/*_____________________ DESKTOP __________________*/

@media screen and (min-width: 1280px) {
  .about-rest-section {
    background-image:
      /*url("../image/hero/desktop-bg.png"),*/
      url("../img/about-rest/desktop-bgi-rest.jpg");
  }


  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .main-section {
        background-image: url("../image/hero/desktop-bg.png"), url("../img/about-rest/desktop-bgi-rest@2x.jpg");
      }
    }
  
    @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      .main-section {
        background-image: url("../image/hero/desktop-bg.png"), url("../img/about-rest/desktop-bgi-rest@3x.jpg");
      }
    }

  .about-rest-section .container {
    max-width: 1280px;
  }
  .about-restaurant {
    padding-left: 338px;
  }

  .slide-img~.slim {
    display: none;
  }


@import url('./fonts.css');
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-page-details-hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/rest-mob-bg-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-page-details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/rest-mob-bg-2x.jpg);
  }
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-details-hotel-header-0 {
  width: 246px;
  padding-top: 24px;
  margin-bottom: 48px;
  margin-left: 17px;
}

.main-page-details-hotel-header {
  font-family: 'FilmP3bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-bottom: 12px;
  margin-left: auto;
  width: 127px;
  text-align: end;
}

.main-page-details-hotel-header2 {
  width: 73px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: auto;
}

.main-page-details-hotel-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #bababa;
  margin-bottom: 48px;
}

.main-page-details-hotel-galery {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.main-page-details-hotel-galery-item1 {
  margin-left: -15px;
}

/* .main-page-details-hotel-galery-item3 {
  display: none;
} */

.main-page-details-hotel-galery-item-slider {
  margin-bottom: 32px;
  width: 96px;
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #ffffff;
  line-height: 11px;
}

.slider-icon {
  fill: #ffffff;
}

.main-page-details-hotel-header-button {
  display: flex;
  flex-direction: column;
  max-width: 236px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobile-svg,
.tab-galery,
.desk-galery,
.main-page-details-hotel-text-desk {
  display: none;
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding: 12px 22px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--bg-dark-lemon-color);
  border-radius: 25px;
  color: var(--accent-yellow-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.room-price.btn {
  padding: 12px 34px;
  margin-bottom: 40px;
}

.btn:hover,
.btn:focus {
  border: 2px solid #f3c653;
  background: #ffffff;
}

/*----------------- contacts-------------- */

.contacts {
  background-color: #fffdee;
}

.main-page-details-contacts-header {
  font-family: 'FilmP3bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: #494848;
  padding-top: 36px;
}

.contacts-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  margin-top: 12px;
}

.icon {
  margin-left: 8px;
  margin-right: 8px;
}

.contacts-phone-rest {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.contacts-rest-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #c79002;
}

.tel-box {
  background: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.header-tel {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #494848;
}

.contacts-phone-rest > .header-tel {
  padding: 8px 8px 6px 0px;
  margin-left: 20px;
}

.contacts-phone-hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hotel-tel {
  width: 262px;
  margin-left: 52px;
}

.hotel-tel > :first-child {
  padding: 7px 8px 7px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #494848;
}

.hotel-tel > :last-child {
  padding: 7px 8px 7px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #494848;
}

.hotel-tel {
  display: flex;
  align-items: center;
}

.contacts-adress {
  width: 262px;
  background: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  padding: 7px 33px 7px 0px;
  margin-left: auto;
}

.contacts-adress-text {
  width: 183px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  color: #494848;
}

.icon-adress {
  min-width: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.adress-text {
  min-width: 183px;
}

.contacts-adress-text:span {
  width: 183px;
}

.map {
  margin-top: 32px;
  padding-bottom: 32px;
}

/* ------------------Tablet Container -----------------------*/

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

.main-page-details-hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/rest-tab-bg-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-page-details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/rest-tab-bg-2x.jpg);
  }
}


  /* .main-page-details-hotel-galery-item3 {
  display: block;
} */

  .main-page-details-hotel-header-0 {
    padding-top: 48px;
    width: 650px;
    margin-bottom: 40px;
    margin-left: 45px;
  }

  .main-page-details-hotel-header {
    font-size: 64px;
    line-height: 69px;
    width: 202px;
      }

  .main-page-details-hotel-text {
    font-size: 16px;
    line-height: 20px;
  }

  .bottom-text {
    padding-right: 74px;
  }

  .main-page-details-hotel-header2 {
    width: 90px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
  }

  .main-page-details-hotel-text {
    margin-bottom: 0;
  }

  .main-page-details-hotel-text {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .tablet-svg,
  .mobil-galery,
  .desk-galery {
    display: none;
  }
  .tab-galery {
    display: block;
  }

  .mobile-svg {
    display: block;
  }

  .tablet-galery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .main-page-details-hotel-galery-item-slider {
    padding-bottom: 40px;
    margin-left: 567px;
    margin-bottom: 0;
  }

  .main-page-details-hotel-galery {
    margin-bottom: 0;
    gap: 34px;
  }
  .main-page-details-hotel-galery-item1 {
    margin-left: 0;
  }

  .room-price.btn {
    margin-bottom: 0;
  }

  .button-flex {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
  }

  /* ---------------------contacts ----------------------------*/

  .main-page-details-contacts-header {
    font-size: 64px;
    line-height: 69px;
  }

  .contacts-text {
    margin-top: 8px;
  }

  .tab-cont {
    display: flex;
    justify-content: space-between;
  }

  .contacts-phone-rest > .header-tel {
    margin-left: 0;
  }

  .hotel-tel {
    margin-left: 0;
  }

  .contacts-adress {
    margin-left: 0;
  }

  .main-page-details-contacts-header {
    padding-top: 56px;
  }

  .contacts-phone-hotel {
    flex-direction: column;
    align-items: first baseline;
    margin-top: 24px;
    margin-bottom: 48px;
    gap: 8px;
  }

  .adress-text {
    min-width: 233px;
  }

  .contacts-adress {
    width: 285px;
  }

  .adress-text {
    display: flex;
    flex-direction: column;
  }
  .icon-adress {
    min-width: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contacts-phone-rest {
    flex-direction: column;
    align-items: first baseline;
    margin-top: 52px;
    gap: 8px;
  }

  .map {
    margin-top: 69px;
    padding-bottom: 40px;
  }

  .map-size {
    width: 535px;
    height: 412px;
  }
}
/* ------------------------Desctop-------------------- */

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }

.main-page-details-hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/rest-desk-bg-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-page-details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/rest-desk-bg-2x.jpg);
  }
}

.main-page-details-hotel-header {
   margin-bottom: 16px;
  }

.main-page-details-hotel-text-desk {
display: flex;
flex-direction: column;
}

.main-page-details-hotel-header-0 {
  margin-left: 190px;
}

.top-text {
text-align: right;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.02em;
color: #BABABA;
}

.bottom-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.02em;
color: #BABABA;
}

.bottom-text {
  text-align: right;
  padding-right: 121px;
}

.main-page-details-hotel-galery-item-slider {
  margin-left: 743px;
  }

.main-page-details-hotel-galery {
  gap: 86px;
  margin-left: -33px;
}

.desk-galery {
  display: block;
}

.tab-galery,
.main-page-details-hotel-text {
  display: none;
}
/* ------------------------Contacts-------------------------- */
.contacts-phone-rest {
   margin-top: 40px;
  }

.contacts-text {
   font-size: 20px;
  line-height: 24px;
}
.contacts-text {
  margin-top: 16px;
}

.map-size {
    width: 634px;
    height: 412px;
  }

  .map {
    margin-top: 64px;
    padding-bottom: 74px;
  }





}