.servis-btn-menu {
  display: flex;
  justify-content: center;
}
.book-table-menu {
  padding: 12px 24px;
  background: var(--title-text-color);
  color: var(--accent-yellow-color);
  border: 2px solid #ffffff;
  border-radius: 25px;
}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .servis-btn-menu {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .menu-assortment .subject {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    font-family: 'Times New Roman', Times, serif;
  }
  .menu-assortment .ingredients {
    margin: 0;
    font-size: 16px;
    line-height: 1.25;
    font-family: 'Montserrat';
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-assortment {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.menu-assortment .emblem {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.23;
  font-family: 'Times New Roman', Times, serif;
}
.menu-assortment .subject {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  font-family: 'Times New Roman', Times, serif;
}
.menu-assortment .desc {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Montserrat';
}
.menu-assortment .ingredients {
  margin: 0;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Montserrat';
}
.menu-assortment .first-text {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-assortment .first-text.first-text:last-child {
  margin-bottom: 0;
}
.weight-price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (min-width: 414px) {
  .weight-price {
    gap: 32px;
  }
}
.dishname {
  width: 221px;
  margin-right: 32px;
}
.dessert-drink .dishname {
  margin-bottom: 8px;
}
.menu-assortment .weight {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-family: 'Montserrat';
}
.menu-assortment .price {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-family: 'Montserrat';
}
.menu-assortment .menuparagraph {
  margin-bottom: 32px;
}
.menu-assortment .menu-assortment-item {
  margin-bottom: 16px;
}
.menu-assortment .menu-assortment-item:last-child {
  margin-bottom: 0;
}
.menu-assortment-item .dessert {
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .menu-assortment .emblem {
    margin-bottom: 40px;
  }
  .menuparagraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menuparagraph .menu-assortment-item {
    margin-right: 88px;
  }
  .menuparagraph .menu-assortment-item:nth-child(2n) {
    margin-right: 0px;
  }
  .menu-assortment .menu-assortment-item {
    margin-bottom: 20px;
  }
  .menu-assortment .menu-assortment-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
