/* =================Button Booking================ */

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding: 14px 24px;
  background: #000000;
  border: 2px solid var(--invert-color);
  border-radius: 25px;
  color: var(--aссent-yellow-color);
  transition: border var(-- trans), background-color var(--trans);
}
.btn:hover,
.btn:focus {
  border: 2px solid var(--aссent-yellow-color);
  background-color: var(--invert-color);
}

/* ==========Book Room Modal window ==================*/
.blackdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 414px;
  height: 780px;
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  background-color: var(--bg-lemon-color);
  border-radius: 2px;
}
.modal-room {
  height: 780px;
}
.modal-table {
  height: 688px;
}
.modal-price {
  height: 572px;
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  padding: 0;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: 20px;
  stroke: black;

  /* transition: background-color var(--trans), fill var(--trans),
      border-color var(--trans); */
}

/* .modal-close-btn:hover,
  .modal-close-btn:focus {
    stroke: var(--aссent-yellow-color);
  } */

/* ===============FORMA================ */
.modal-form {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}
.modal-title {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 60px;
}
.modal-text {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #c79002;
  margin-bottom: 20px;
  padding-left: 12px;
}

.modal-input {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  width: 90%;
  height:90%;
  background-color: #fffdee80;
  margin-bottom: 8px;
  border: 1px solid #c79002;
  border-radius: 1px;
  padding-left: 12px;
  color: #808080;
  background-color: var(--bg-lemon-color);
  overflow: scroll;
}
/* ===============ROOM PRICE================ */
.modal-subtitle {
  padding-left: 0;
}
.modal-caption {
  margin-bottom: 28px;
}
.modal-title-price-wrap {
  padding-left: 15px;
}
/* .modal-title-price-wrap >.modal-subtitle {
  margin-bottom: 20px;
} */

.modal-input::placeholder {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}
.modal-caption {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}
.select-text-decor {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}

.modal-select {
  appearance: none;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  background-size: 24px 24px;
}
/*======================= BUTOON============ */
.modal-book-btn {
  width: 100%;
  padding: 18px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  background: #000000;
  border: 1px solid #f3c653;
  /* border: 1px solid var(--aссent-yellow-color); */
  border-radius: 2px;
  margin-top: 20px;
  transition: color var(--transition), background-color var(--transition);
}
.modal-book-btn:hover,
.modal-book-btn:focus {
  color: #000000;
  background-color: #f3c653;
  /* background: var(--aссent-yellow-color); */
}

/* ======================MEDIA=============== */
@media screen and (min-width: 414px) {
  .blackdrop {
    min-width: 414px;
  }
  .modal {
    max-width: 414px;
  }
  .modal-input {
    width: 384px;
    height: 54px;
  }
  .modal-room {
    height: 780px;
  }
  .modal-table {
    height: 688px;
  }
  .modal-price {
    height: 572px;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    max-width: 712px;
    max-height: 638px;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
  .modal-price {
    max-width: 712px;
    max-height: 489px;
  }
  .modal-room {
    height: 638px;
  }
  .modal-table {
    height: 522px;
  }
  .modal-title-price-wrap {
    padding-left: 60px;
  }

  .modal-input {
    width: 288px;
    height: 64px;


  }
  .modal-form {
    display: flex;
    row-gap: 28px;
    column-gap: 16px;
    flex-direction: row;
    padding-right: 60px;
    padding-left: 60px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .modal-book-btn {
    margin-top: 12px;
  }
  .modal-fild-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 288px;
  }

  .modal-margin {
    margin-left: 304px;
  }
  .modal-text {
    margin-bottom: 0;
  }


}

@media screen and (min-width: 1280px) {
}
