/*==============================Hero============================ */
.room-hero {
  height: 740px;
  padding-top: 330px;
  padding-bottom: 14px;
  background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 15%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../img/room-2-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .room-hero {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 15%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/room-2-mobile-2x.jpg);
  }
}
.room-hero-slaid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}
.room-hero-slaid-btn {
  background-color: rgba(0, 0, 0, 0.65);
}
.room-hero-slaid-icon {
  fill: #f3c653;
}
.room-hero-titel {
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 14px;
}
.room-hero-after-titel {
  font-family: 'Montserrat', sans-serif;
  max-width: 325px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 17px;
}
.room-hero-address {
  display: none;
}
.room-hero-soc {
  display: flex;
  gap: 72px;
}
.room-hero-icons {
  display: flex;
  gap: 11px;
  flex-direction: column;
}
.open-prices {
  font-family: 'Montserrat', sans-serif;
  width: 232px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 12px 33px;
  color: #f3c653;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.open-prices:hover,
.open-prices:focus,
.open-prices:active {
  background-color: #ffffff;
  border: 2px solid #f3c653;
}
/*==============================Ameniries=============================== */
.amenities {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fffdee;
}
.amenities-titel {
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(37 / 32);
  color: #000000;
  margin-bottom: 16px;
}
.amenities-after-titel {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #7a7a7a;
  margin-bottom: 32px;
}

.amenities-item {
  margin-bottom: 32px;
}
.amenities-item-titel {
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #000000;
  margin-bottom: 16px;
}
.amenities-text {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.amenities-item-after-titel {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.reserve-btn {
  width: 100%;
  padding-top: 19px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 19px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: #ffffff;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reserve-btn:hover,
.reserve-btn:focus,
.reserve-btn:active {
  background-color: #f3c653;
  color: #000000;
}
.return-numbers {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
  color: #c79002;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.return-numbers-icon {
  fill: #c79002;
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.return-numbers:hover,
.return-numbers:focus,
.return-numbers:active {
  color: #f3c653;
}
.return-numbers:hover .return-numbers-icon {
  fill: #f3c653;
}
.return-numbers:focus .return-numbers-icon {
  fill: #f3c653;
}
.return-numbers:active .return-numbers-icon {
  fill: #f3c653;
}

/* ===============================*/
@media screen and (min-width: 414px) {
  .room-hero {
    max-width: 414px;
  }
  .room-hero > .container {
    width: 414px;
  }
  .amenities > .container {
    width: 414px;
  }
  /*==============================Hero============================ */

  /*==============================Ameniries=============================== */
}
/* ===============================*/
@media screen and (min-width: 1024px) {
  .room-hero > .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .amenities > .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  /*==============================Hero============================ */
  .room-hero {
    max-width: 1024px;
    height: 718px;
    padding-top: 340px;
    padding-bottom: 22px;
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 15%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/room-2-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-hero {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 15%,
          rgba(0, 0, 0, 0) 100%
        ),
        url(../img/room-2-tablet-2x.jpg);
    }
  }
  .room-hero-slaid {
    margin-bottom: 88px;
  }
  .room-hero-titel {
    font-size: 36px;
    line-height: calc(41 / 36);
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .room-hero-after-titel {
    max-width: 400px;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .room-hero-soc {
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: flex-end;
  }
  .room-hero-address {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 9px;
    align-items: center;
    justify-content: center;
    bottom: 90px;
    width: 285px;
    height: 56px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
  .room-hero-soc-address {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .room-hero-icons {
    display: flex;
    gap: 21px;
    flex-direction: row;
  }
  .room-hero-btn {
    position: relative;
    bottom: 40px;
  }

  .open-prices {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
    border-radius: 25px;
  }
  /*==============================Ameniries=============================== */
  .amenities {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .amenities-after-titel {
    width: 757px;
  }
  .amenities-item-after-titel {
    width: 400px;
  }
  .amenities-text {
    gap: 80px;
    flex-wrap: nowrap;
  }
  .reserve-btn {
    width: 434px;
    padding-top: 17px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 17px;
    font-size: 24px;
    line-height: calc(29 / 24);
    margin-bottom: 32px;
    margin-left: 496px;
  }
  .return-numbers {
    font-size: 20px;
    line-height: calc(24 / 20);
    flex-wrap: nowrap;
    margin-left: 497px;
  }
}
/* ===============================*/
@media screen and (min-width: 1280px) {
  .room-hero > .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .amenities > .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
  /*==============================Hero============================ */
  .room-hero {
    max-width: 1280px;
    height: 720px;
    padding-top: 412px;
    padding-bottom: 48px;
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 15%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/room-2-desktop-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-hero {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 15%,
          rgba(0, 0, 0, 0) 100%
        ),
        url(../img/room-2-desktop-2x.jpg);
    }
  }
  .room-hero-slaid {
    margin-bottom: 72px;
  }
  .room-hero-after-titel {
    margin-bottom: 0;
  }
  .room-hero-soc-address {
    display: none;
  }
  .room-hero-text-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .room-hero-btn {
    position: static;
  }
  .room-hero-address {
    display: none;
  }
  .open-prices {
    margin-left: 0;
  }
  /*==============================Ameniries=============================== */
  .amenities-text {
    gap: 159px;
  }
  .reserve-btn {
    margin-left: 562px;
  }
  .return-numbers {
    margin-left: 563px;
  }
}
