.swiper {
  width: 270px;
  height: 290px;
}

.details-small-slide {
  width: 162px;
  height: 270px;
}

.details-big-slide {
  width: 270px;
  height: 270px;
}

.slide-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.small-swiper {
  height: 194px;
}

.small-swiper img {
  box-shadow: none !important;
}

.small-slide {
  width: 194px;
  height: 194px;
}

.about-slide-image {
  object-fit: cover;
  width: 194px;
  height: 194px;
}

.about-rest-swiper {
  height: 194px;
  width: 428px;
  /* margin-right: 0; */
}

.about-rest-swiper img {
  box-shadow: none !important;
}

.swiper-wrapper-slider-left {
  /* margin-right: auto; */
  margin-bottom: 20px;
}

.description-hotel.img {
  max-width: 194px;
}

.swiper {
  /*! margin-left:auto; */
  /* margin-right: auto; */
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  /* .swiper-wrapper-slider-left {
    margin-right: 69px;
  } */

  .swiper-wrapper-slider-left .swiper {
    width: 500px;
    height: 220px;
    margin-left: 0px;
  }
  
   .swiper.about-rest-swiper {
     width: 450px;
    height: 220px;
  }
  .swiper {
    width: 660px;
    height: 290px;
  }
}


@media screen and (min-width: 1280px) {
  .swiper {
    width: 780px;
    height: 290px;
  }
  .swiper.about-rest-swiper {
     width: 450px;
    height: 220px;
  }
}
