/* ---------------STYLES-------------- */
@import url('./root.css');
@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./mainpage.css');
@import url('./about.css');
@import url('./footer.css');
@import url('./restaurant.css');
@import url('./hotel.css');
@import url('./room.css');
@import url('./modal.css');
@import url('./base.css');
@import url('./contacts.css');
@import url('./mobile.css');
@import url('./tablet.css');




body{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.02em;

  color: var(--body-text-color);
  background-color: var(--bg-lemon-color);
}