<!-- About our hotel -->
<section class="description-hotel-container section-about-our-hotel">
  <div class="description-hotel container">
    <h2 class="visually-hidden">About our hotel</h2>
    <p class="tagline">Amet minim mollit non</p>
    <h3 class="appellation">MIMIHO</h3>
    <ul class="list description-hotel-list">
      <li class="description-hotel-item">
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg      1x,
              ./img/mobile-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/tablet-modern-studio-apartment-design-with-bedroom-living-space.jpg    1x,
              ./img/tablet-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop-modern-studio-apartment-design-with-bedroom-living-space.jpg    1x,
              ./img/desktop-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="first-image"
            src="./img/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg"
            alt="Bedroom in a hotel"
          />
        </picture>
      </li>
      <li class="description-hotel-item">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/mobile-apartment.jpg    1x,
              ./img/mobile-apartment-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/tablet-apartment.jpg    1x,
              ./img/tablet-apartment-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop-apartment.jpg    1x,
              ./img/desktop-apartment-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./img/mobile-apartment" alt="Apartment hotel" />
        </picture>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>

    <div class="swiper-wrapper-slider-left">

      <div id="aboutSwiper" class='swiper small-swiper'>
        <!-- Additional required wrapper -->
        <div class='swiper-wrapper'>
          <!-- Slides -->
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img1-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img1-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img1-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img1-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img1-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img1-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
            <img class="about-slide-image" src="./img/slider-foto/desktop/img1-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img2-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img2-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source class="about-slide-image"
              srcset="./img/slider-foto/tablet/img2-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img2-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img2-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img2-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img2-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img3-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img3-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img3-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img3-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img3-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img3-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img3-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img4-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img4-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img4-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img4-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img4-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img4-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img4-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img5-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img5-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img5-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img5-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img5-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img5-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img5-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img6-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img6-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img6-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img6-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img6-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img6-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img6-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img7-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img7-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img7-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img7-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img7-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img7-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img7-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img8-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img8-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img8-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img8-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img8-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img8-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img8-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img9-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img9-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img9-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img9-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img9-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img9-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img9-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img10-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img10-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img10-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img10-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img10-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img10-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img10-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img11-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img11-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img11-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img11-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img11-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img11-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img11-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img12-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img12-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img12-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img12-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img12-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img12-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img12-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img13-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img13-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img13-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img13-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img13-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img13-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img13-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img14-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img14-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img14-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img14-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img14-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img14-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img14-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img15-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img15-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img15-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img15-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img15-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img15-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img15-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>
        <div class="swiper-slide details-small-slide">
          <picture>
            <source
              srcset="./img/slider-foto/desktop/img16-slider-desk-1x.jpg 1x, ./img/slider-foto/desktop/img16-slider-desk-2x.jpg 2x"
              media="(min-width:1280px)"
            >
            <source
              srcset="./img/slider-foto/tablet/img16-slider-tab-1x.jpg 1x, ./img/slider-foto/tablet/img16-slider-tab-2x.jpg 2x"
              media="(min-width:1024px)"
            >
            <source
              srcset="./img/slider-foto/mobile/img16-slider-mobile-1x.jpg 1x, ./img/slider-foto/mobile/img16-slider-mobile-2x.jpg 2x"
              media="(max-width:1023px)"
            >
        
            <img class="about-slide-image" src="./img/slider-foto/desktop/img16-slider-desk-1x.jpg" alt="photo">
          </picture>
        </div>

        </div>
      </div>

    </div>

    <!-- /* Возможно общее */ -->
    <div class="item-slider-arrow">
     
      <div id="about-swiper-button-prev" >
        <svg class="slider-icon-arrow" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>
     
      <div id="about-swiper-button-next">
        <svg class="slider-icon-arrow" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>

 

    </div>
  </div>
</section>
