<!-- About our hotel -->
<section class="description-hotel-container section-about-our-hotel">
  <div class="description-hotel container">
    <h2 class="visually-hidden">About our hotel</h2>
    <p class="tagline">Amet minim mollit non</p>
    <h3 class="appellation">MIMIHO</h3>
    <ul class="list description-hotel-list">
      <li class="description-hotel-item">
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg      1x,
              ./img/mobile-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/tablet-modern-studio-apartment-design-with-bedroom-living-space.jpg    1x,
              ./img/tablet-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop-modern-studio-apartment-design-with-bedroom-living-space.jpg    1x,
              ./img/desktop-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="first-image"
            src="./img/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg"
            alt="Bedroom in a hotel"
          />
        </picture>
      </li>
      <li class="description-hotel-item">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/mobile-apartment.jpg    1x,
              ./img/mobile-apartment-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/tablet-apartment.jpg    1x,
              ./img/tablet-apartment-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop-apartment.jpg    1x,
              ./img/desktop-apartment-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./img/mobile-apartment" alt="Apartment hotel" />
        </picture>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>

    <div class="swiper-wrapper-slider-left">

      <div id="aboutSwiper" class='swiper small-swiper'>
        <!-- Additional required wrapper -->
        <div class='swiper-wrapper'>
          <!-- Slides -->
          <div class='swiper-slide small-slide'>
            <picture>
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/mobile-registration.jpg    1x,
                ./img/mobile-registration-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="
                ./img/tablet-registration.jpg    1x,
                ./img/tablet-registration-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/desktop-registration.jpg    1x,
                ./img/desktop-registration-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img src="./img/mobile-registration.jpg" alt="Hotel registration" />
          </picture>
          </div>

          <div class='swiper-slide small-slide'>
            <picture>
            <source
              media="(max-width: 1023px)"
              srcset="./img/mobile-towels.jpg 1x, ./img/mobile-towels-2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="./img/tablet-towels.jpg 1x, ./img/tablet-towels-2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./img/desktop-towels.jpg 1x, ./img/desktop-towels-2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="./img/mobile-towels.jpg" alt="White towels" />
          </picture>
          </div>

          <div class='swiper-slide small-slide'>
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./img/mobile-towels.jpg 1x, ./img/mobile-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px) and (max-width: 1279px)"
                srcset="./img/tablet-towels.jpg 1x, ./img/tablet-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./img/desktop-towels.jpg 1x, ./img/desktop-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <img src="./img/mobile-towels.jpg" alt="White towels" />
            </picture>
          </div>

          <div class='swiper-slide small-slide'>
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./img/mobile-towels.jpg 1x, ./img/mobile-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px) and (max-width: 1279px)"
                srcset="./img/tablet-towels.jpg 1x, ./img/tablet-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./img/desktop-towels.jpg 1x, ./img/desktop-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <img src="./img/mobile-towels.jpg" alt="White towels" />
            </picture>
          </div>

          <div class='swiper-slide small-slide'>
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./img/mobile-towels.jpg 1x, ./img/mobile-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px) and (max-width: 1279px)"
                srcset="./img/tablet-towels.jpg 1x, ./img/tablet-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./img/desktop-towels.jpg 1x, ./img/desktop-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <img src="./img/mobile-towels.jpg" alt="White towels" />
            </picture>
          </div>

          <div class='swiper-slide small-slide'>
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./img/mobile-towels.jpg 1x, ./img/mobile-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1024px) and (max-width: 1279px)"
                srcset="./img/tablet-towels.jpg 1x, ./img/tablet-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./img/desktop-towels.jpg 1x, ./img/desktop-towels-2x.jpg 2x"
                type="image/jpeg"
              />
              <img src="./img/mobile-towels.jpg" alt="White towels" />
            </picture>
          </div>

        </div>
      </div>

    </div>

    <!-- /* Возможно общее */ -->
    <div class="item-slider-arrow">

      <div id="about-swiper-button-next" type="button">
        <svg class="slider-icon-arrow" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>

      <div id="about-swiper-button-prev" type="button" >
        <svg class="slider-icon-arrow" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>

    </div>
  </div>
</section>
