    <!-- About our hotel -->
    <section class="description-hotel-container container">
        <div class="description-hotel">
          <h2 class="visually-hidden">About our hotel</h2>
          <p class="tagline">Amet minim mollit non</p>
          <h3 class="appellation">MIMIHO</h3>
          <ul class="list description-hotel-list">
            <li class="description-hotel-item">
              <p class="text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg    1x,
                    ./images/mobile-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px) and (max-width: 1279px)"
                  srcset="
                    ./images/tablet-modern-studio-apartment-design-with-bedroom-living-space.jpg    1x,
                    ./images/tablet-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/desktop-modern-studio-apartment-design-with-bedroom-living-space.jpg    1x,
                    ./images/desktop-modern-studio-apartment-design-with-bedroom-living-space@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="first-image"
                  src="./images/mobile-modern-studio-apartment-design-with-bedroom-living-space.jpg"
                  alt="Bedroom in a hotel"
                />
              </picture>
            </li>
            <li class="description-hotel-item">
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/mobile-apartment.jpg    1x,
                    ./images/mobile-apartment-2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px) and (max-width: 1279px)"
                  srcset="
                    ./images/tablet-apartment.jpg    1x,
                    ./images/tablet-apartment-2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/desktop-apartment.jpg    1x,
                    ./images/desktop-apartment-2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img src="./images/mobile-apartment" alt="Apartment hotel" />
              </picture>
              <p class="text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
            </li>
          </ul>
        <div class="swiper-wrapper-slider">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/mobile-registration.jpg    1x,
                ./images/mobile-registration-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="
                ./images/tablet-registration.jpg    1x,
                ./images/tablet-registration-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/desktop-registration.jpg    1x,
                ./images/desktop-registration-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              src="./images/mobile-registration.jpg"
              alt="Hotel registration"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/mobile-towels.jpg    1x,
                ./images/mobile-towels-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="
                ./images/tablet-towels.jpg    1x,
                ./images/tablet-towels-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/desktop-towels.jpg    1x,
                ./images/desktop-towels-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img src="./images/mobile-towels.jpg" alt="White towels" />
          </picture>
        </div>
        <!-- /* Возможно общее */ -->
        <div class="item-slider">
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="/images/spray.svg#icon-arrow-left"></use>
            </svg>
          </a>
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="/images/spray.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
        </div>
      </section>