<!-- About our restaurant -->
<section class="description-rest-container container">
  <div class="description-rest">
    <h2 class="visually-hidden">About our restaurant</h2>
    <p class="tagline">Amet minim mollit non</p>
    <h3 class="appellation">MIMIHO</h3>
    <ul class="list description-rest-list">
      <li class="description-rest-item">
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/mobile-restaurant-interior.jpg    1x,
              ./img/mobile-restaurant-interior-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/tablet-restaurant-interior.jpg    1x,
              ./img/tablet-restaurant-interior-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop-restaurant-interior.jpg    1x,
              ./img/desktop-restaurant-interior-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="first-image"
            src="./img/mobile-restaurant-interior.jpg"
            alt="Restaurant interior"
          />
        </picture>
      </li>
      <li class="description-rest-item">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/mobile-restaurant.jpg    1x,
              ./img/mobile-restaurant-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/tablet-restaurant.jpg    1x,
              ./img/tablet-restaurant-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop-restaurant.jpg    1x,
              ./img/desktop-restaurant-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./img/mobile-restaurant.jpg" alt="Restaurant interior" />
        </picture>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <div class="swiper-wrapper-slider">
      <picture>
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/mobile-wineglass.jpg    1x,
            ./img/mobile-wineglass-2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 1024px) and (max-width: 1279px)"
          srcset="
            ./img/tablet-wineglass.jpg    1x,
            ./img/tablet-wineglass-2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/desktop-wineglass.jpg    1x,
            ./img/desktop-wineglass-2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img src="./img/mobile-wineglass.jpg" alt="Wineglass" />
      </picture>
      <picture>
        <source
          media="(max-width: 1023px)"
          srcset="./img/mobile-serving.jpg 1x, ./img/mobile-serving-2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(min-width: 1024px) and (max-width: 1279px)"
          srcset="./img/tablet-serving.jpg 1x, ./img/tablet-serving-2x.jpg 2x"
          type="image/jpeg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/desktop-serving.jpg 1x, ./img/desktop-serving-2x.jpg 2x"
          type="image/jpeg"
        />
        <img src="./img/mobile-serving.jpg" alt="Serving" />
      </picture>
      <div class="item-slider-arrow">
        <button type="button" href="">
          <svg class="slider-icon-arrow" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
          </svg>
        </button>
        <button type="button" href="">
          <svg class="slider-icon-arrow" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
          </svg>
        </button>
      </div>
  </div>
</section>

<section class="about-rest-section">
  <div class="container">
    <!--hide h2-->
    <h2 class="section-title visually-hidden">About Restaurant Mimino</h2>
    <div class="about-restaurant">
      <h3>Міміно</h3>
      <h4>Ресторан</h4>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="tablet">
      <div class="slide-bar-arrow">
        <ul class="slide-bar">
          <li class="slide-img list">
            <img
              srcset="
                ./img/about-rest/steak.jpg    1x,
                ./img/about-rest/steak@2x.jpg 2x,
                ./img/about-rest/steak@3x.jpg 3x
              "
              src="./img/about-rest/steak.jpg"
              alt="steak photo"
              width="270"
              height="270"
            />
          </li>
          <li class="slide-img list">
            <img
              srcset="
                ./img/about-rest/fish.jpg    1x,
                ./img/about-rest/fish@2x.jpg 2x,
                ./img/about-rest/fish@3x.jpg 3x
              "
              src="./img/about-rest/fish.jpg"
              alt="fried fish photo"
              width="162"
              height="270"
            />
          </li>
          <li class="slide-img slim list">
            <img
              srcset="
                ./img/about-rest/appetizer.jpg    1x,
                ./img/about-rest/appetizer@2x.jpg 2x,
                ./img/about-rest/appetizer@3x.jpg 3x
              "
              src="./img/about-rest/appetizer.jpg"
              alt="appetizer photo"
              width="162"
              height="270"
            />
          </li>
          <li class="slide-img cube list">
            <img
              srcset="
                ./img/about-rest/appetizer-pc.jpg    1x,
                ./img/about-rest/appetizer-pc@2x.jpg 2x,
                ./img/about-rest/appetizer-pc@3x.jpg 3x
              "
              src="./img/about-rest/appetizer-pc.jpg"
              alt="appetizer photo"
              width="270"
              height="270"
            />
          </li>
        </ul>
        <div class="slide-arrow">
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
            </svg>
          </a>
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      
      <div class="button-box">
        <button class="btn" type="button" book-table-modal-open>
          Забронювати столик
        </button>
        <button class="btn" type="button">Переглянути меню</button>
      </div>
    </div>
  </div>
</section>
