<!-- main-page-details-hotel -->
<section class="main-page-details-hotel container">
  <div class="main-page-details-hotel-header-0">
    <h2 class="main-page-details-hotel visually-hidden">
      main-page-details-hotel-header
    </h2>
    <h3 class="main-page-details-hotel-header">MIMIHO</h3>
    <h6 class="main-page-details-hotel-header2">Готель</h6>
    <div class="main-page-details-hotel-text-desk">
      <span class="top-text"
        >Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet</span
      >
      <span class="bottom-text"
        >amet sint. Velit officia consequat duis enim velit mollit.
      </span>
    </div>
    <div class="main-page-details-hotel-text">
      <span
        >Amet minim mollit non deserunt ullamco est sit aliqua dolor do</span
      >
      <span class="bottom-text"
        >amet sint. Velit officia consequat duis enim velit mollit.
      </span>
    </div>
  </div>

  <div class="tablet-galery">
    <div class="mobil-galery">
      <div id="mobDetailsSwiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img1-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img2-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img3-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="lide-card slide-image"
              src="./img/slider-foto/tablet/img4-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img5-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img6-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img7-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img8-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img9-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img10-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img12-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img13-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img14-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img15-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img16-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="slider-bottom details-small-slide">
            <h2 class="visually-hidden">slider</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="desk-galery">
      <div id="deskDetailsSwiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img1-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img2-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img3-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="lide-card slide-image"
              src="./img/slider-foto/tablet/img4-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img5-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img6-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img7-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img8-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img9-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img10-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img12-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img13-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img14-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img15-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img16-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="slider-bottom details-small-slide">
            <h2 class="visually-hidden">slider</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-galery">
      <!-- Slider main container -->
      <div id="detailsSwiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img1-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img2-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img3-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="lide-card slide-image"
              src="./img/slider-foto/tablet/img4-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img5-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img6-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img7-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img8-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img9-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img10-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img12-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img13-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img14-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img15-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="swiper-slide details-small-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img16-slider-tab-1x.jpg"
              alt="foto"
            />
          </div>

          <div class="slider-bottom details-small-slide">
            <h2 class="visually-hidden">slider</h2>
          </div>
        </div>
      </div>

      <!-- <ul class="main-page-details-hotel-galery list">
        <li class="main-page-details-hotel-galery-item">
          <img
            class="galery-item1"
            src="./img/img1-tab-1x.jpg"
            alt="foto"
            srcset="./img/img1-tab-1x.jpg 1x, ./img/img1-tab-2x.jpg 2x"
            width="162"
            height="270"
          />
        </li>
        <li class="main-page-details-hotel-galery-item">
          <img
            class="galery-item2"
            src="./img/img2-tab-1x.jpg"
            alt="foto"
            srcset="./img/img2-tab-1x.jpg 1x, ./img/img2-tab-2x.jpg 2x"
            width="162"
            height="270"
          />
        </li>
        <li class="main-page-details-hotel-galery-item">
          <img
            class="galery-item3"
            src="./img/img3-tab-1x.jpg"
            alt="foto"
            srcset="./img/img3-tab-1x.jpg 1x, ./img/img3-tab-2x.jpg 2x"
            width="270"
            height="270"
          />
        </li>
      </ul> -->
    </div>

    <div class="tablet-svg">
      <div class="main-page-details-hotel-galery-item-slider">
        <div id="mob-swiper-button-prev">
          <svg class="slider-icon-hotel-det" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
          </svg>
        </div>
        <div id="mob-swiper-button-next">
          <svg class="slider-icon-hotel-det" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="button-flex">
      <div class="main-page-details-hotel-header-button">
        <button
          type="button"
          class="book-room btn-hotel-det"
          book-room-modal-open
        >
          Забронювати номер
        </button>
        <button
          type="button"
          class="room-price btn-hotel-det"
          room-price-modal-open
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>

  <div class="mobile-svg">
    <div class="main-page-details-hotel-galery-item-slider">
      <div id="swiper-button-prev">
        <svg class="slider-icon-hotel-det" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>

      <div id="swiper-button-next">
        <svg class="slider-icon-hotel-det" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
