<section class="about-rest-section">
  <div class="container">
    <!--hide h2-->
    <h2 class="section-title visually-hidden">About Restaurant Mimino</h2>
    <div class="about-restaurant">
      <h3 class="title-details-restaurant">Міміно</h3>
      <h4 class="heading-details-restaurant">Ресторан</h4>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="tablet">
      <div class="slide-bar-arrow">
        <ul class="slide-bar">
          <li class="slide-img list">
            <img srcset="
                ./img/about-rest/steak.jpg    1x,
                ./img/about-rest/steak@2x.jpg 2x,
                ./img/about-rest/steak@3x.jpg 3x
              " src="./img/about-rest/steak.jpg" alt="steak photo" width="270" height="270" />
          </li>
          <li class="slide-img list">
            <img srcset="
                ./img/about-rest/fish.jpg    1x,
                ./img/about-rest/fish@2x.jpg 2x,
                ./img/about-rest/fish@3x.jpg 3x
              " src="./img/about-rest/fish.jpg" alt="fried fish photo" width="162" height="270" />
          </li>
          <li class="slide-img slim list">
            <img srcset="
                ./img/about-rest/appetizer.jpg    1x,
                ./img/about-rest/appetizer@2x.jpg 2x,
                ./img/about-rest/appetizer@3x.jpg 3x
              " src="./img/about-rest/appetizer.jpg" alt="appetizer photo" width="162" height="270" />
          </li>
          <li class="slide-img cube list">
            <img srcset="
                ./img/about-rest/appetizer-pc.jpg    1x,
                ./img/about-rest/appetizer-pc@2x.jpg 2x,
                ./img/about-rest/appetizer-pc@3x.jpg 3x
              " src="./img/about-rest/appetizer-pc.jpg" alt="appetizer photo" width="270" height="270" />
          </li>
        </ul>
        <div class="slide-arrow">
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
            </svg>
          </a>
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="box-button">
        <button class="btn" type="button" book-table-modal-open>
          Забронювати столик
        </button>
        <button class="btn" type="button">Переглянути меню</button>
      </div>
    </div>
  </div>
</section>