<!-- main-page-details-hotel -->
<section class="main-page-details-hotel container">
  <div class="main-page-details-hotel-header-0">
    <h2 class="main-page-details-hotel visually-hidden">
      main-page-details-hotel-header
    </h2>
    <h3 class="main-page-details-hotel-header">MIMIHO</h3>
    <h6 class="main-page-details-hotel-header2">Готель</h6>
    <div class="main-page-details-hotel-text-desk">
      <span class="top-text"
        >Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet</span
      >
      <span class="bottom-text"
        >amet sint. Velit officia consequat duis enim velit mollit.
      </span>
    </div>
    <div class="main-page-details-hotel-text">
      <span
        >Amet minim mollit non deserunt ullamco est sit aliqua dolor do</span
      >
      <span class="bottom-text"
        >amet sint. Velit officia consequat duis enim velit mollit.
      </span>
    </div>
  </div>

  <div class="tablet-galery">
    <div class="mobil-galery">
      <div id="mobDetailsSwiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img1-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img1-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img1-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img2-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img2-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img2-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img3-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img3-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img3-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img4-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img4-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img4-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img5-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img5-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img5-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img6-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img6-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img6-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img7-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img7-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img7-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img8-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img8-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img8-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img9-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img9-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img9-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img10-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img10-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img10-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img11-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img11-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img11-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img12-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img12-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img12-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img13-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img13-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img13-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img14-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img14-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img14-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img15-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img15-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img15-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/mobile/img16-slider-mobile-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/mobile/img16-slider-mobile-1x.jpg 1x,
                ./img/slider-foto/mobile/img16-slider-mobile-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="desk-galery">
      <div id="deskDetailsSwiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img1-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img1-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img1-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img2-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img2-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img2-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img3-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img3-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img3-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img4-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img4-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img4-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img5-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img5-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img5-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img6-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img6-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img6-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img7-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img7-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img7-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img8-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img8-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img8-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img9-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img9-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img9-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img10-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img10-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img10-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img11-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img11-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img11-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img12-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img12-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img12-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img13-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img13-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img13-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img14-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img14-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img14-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img15-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img15-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img15-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/desktop/img16-slider-desk-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/desktop/img16-slider-desk-1x.jpg 1x,
                ./img/slider-foto/desktop/img16-slider-desk-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="tab-galery">
      <!-- Slider main container -->
      <div id="detailsSwiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img1-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img1-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img1-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img2-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img2-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img2-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img3-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img3-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img3-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img4-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img4-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img4-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img5-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img5-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img5-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img6-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img6-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img6-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img7-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img7-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img7-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img8-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img8-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img8-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img9-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img9-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img9-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img10-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img10-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img10-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img11-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img11-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img11-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img12-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img12-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img12-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img13-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img13-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img13-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img14-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img14-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img14-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img15-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img15-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img15-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>

          <div class="swiper-slide details-big-slide">
            <img
              class="slide-card slide-image"
              src="./img/slider-foto/tablet/img16-slider-tab-1x.jpg"
              alt="foto"
              srcset="
                ./img/slider-foto/tablet/img16-slider-tab-1x.jpg 1x,
                ./img/slider-foto/tablet/img16-slider-tab-2x.jpg 2x
              "
              width="270"
              height="270"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="tablet-svg">
      <div class="main-page-details-hotel-galery-item-slider">
        <div id="mob-swiper-button-prev">
          <svg class="slider-icon-hotel-det" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
          </svg>
        </div>
        <div id="mob-swiper-button-next">
          <svg class="slider-icon-hotel-det" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="button-flex">
      <div class="main-page-details-hotel-header-button">
        <button
          type="button"
          class="book-room btn-hotel-det"
          book-room-modal-open
        >
          Забронювати номер
        </button>
        <button
          type="button"
          class="room-price btn-hotel-det"
          room-price-modal-open
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>

  <div class="mobile-svg">
    <div class="main-page-details-hotel-galery-item-slider">
      <div id="swiper-button-prev">
        <svg class="slider-icon-hotel-det" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>

      <div id="swiper-button-next">
        <svg class="slider-icon-hotel-det" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
