 <main>
      <section class="hero">
        <div class="container">
          <h1 class="hero-title-one">MIMIHO</h1>
          <h2 class="hero-title-two">Ресторанно-готельний комплекс</h2>
          <h3 class="hero-title-three">СМАК ЖИТТЯ 24/7</h3>
          <div class="hero-btn-content">
            <ul class="hero-btn">
              <li class="li-btn">
                <button class="hero-button" type="button">
                  Забронювати столик
                </button>
              </li>
              <li class="li-btn">
                <button class="hero-button" type="button">
                  Забронювати номер
                </button>
              </li>
            </ul>
          </div>

          <div class="hero-address">
            <svg class="icon-address" width="20" height="20">
              <use href="./img/icon.svg#icon-entypo_location-pin-1"></use>
            </svg>
            <a class="text-address" href="#"
              >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
            >
          </div>

          <ul class="hero-icons">
            <li>
              <svg width="24" height="24">
                <use
                  href="./img/icon.svg#icon-akar-icons_instagram-fill-1"
                ></use>
              </svg>
            </li>
            <li>
              <svg width="24" height="24">
                <use href="./img/icon.svg#icon-jam_facebook-square-1"></use>
              </svg>
            </li>
            <li>
              <svg width="24" height="24">
                <use href="./img/icon.svg#icon-la_telegram-plane-1"></use>
              </svg>
            </li>
          </ul>
        </div>
      </section>
    </main>